.Message-list {
  margin: 10px auto;
  overflow: auto;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 50vh;
  opacity: 0.8;
  text-align: center;
}

.Message-date {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  color: #63545a;
}