@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header span {
    color: #6BC47C;
    font-family: 'Ranchers', cursive;
    font-weight: 400;
    font-size: 5vw;
}

.Header-logo {
    margin: 0.5% 1% 0.5% 3%;
    width: 6%;
    pointer-events: none;

}