body {
  height: 100%;
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  justify-content: center; 
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #f8f9fc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #ffff;
}
