.Message {
    max-width: 100%;
    text-align: left;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Message-user {
    align-items: flex-end;
}

.Message-user .Message-box {
    display: flex;
    flex-direction: row-reverse;
}

.Message-box {

    width: 80%;
    display: flex;
    flex-direction: row;
}

.Message span {
    margin: 0 70px;
    font-weight: 500;
    font-size: 0.8em;
    color: #63545a;

}

.Message-box p {
    padding: 1vh 1vw;
    background-color: #6BC47C;
    opacity: 0.9;
    border-radius: 10px 10px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #ffff;
    word-wrap: break-word;

}

.Message-user p {
    text-align: left;
    background-color: #545F63;
    border-radius: 10px 10px 0px 10px;
}

.Icon {
    width: 20px;
    cursor: pointer;
}

.Like-icon {
    margin: 10px;
    align-self: center;
    width: 30px;
    justify-self: center;
    cursor: pointer;
}

.User-avatar {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 7px #666;
}